*{
    padding: 0;
    margin: 0%;
    box-sizing: border-box;
}
body{
    background-color: black;
}
.container{
    position: relative;
}
.box{
    height: 200px;
    width: 200px;
    background-color: blueviolet;
    padding: 20px;
    animation-name: moving;
    animation-duration: 3s;
    position: absolute;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-delay: 2s;
}
@keyframes moving{
    0%{
        background-color: blueviolet;
        top:10px;
        left: 10px;
    }
    25%{
        background-color: rgb(67, 90, 133);
        top: 10px;
        left: 1000px;
    }
    50%{
        background-color: rgb(104, 141, 118);
        top:500px;
        left: 1000px;
    }
    75%{
        background-color: rgb(67, 133, 67);
        top: 10px;
        left: 900px;
    }
      100%{
        background-color: blueviolet;
        top:10px;
        left: 0px;
    }

}