
.container {
  display: flex;           
  justify-content: space-between;
  align-items: flex-start;
  max-width: 1000px;        
  margin: 60px auto;
  padding: 20px;
  background: linear-gradient(135deg, #ece9e6, #ffffff);
  border: 3px solid #222;
  border-radius: 15px;
  position: relative;       
  gap: 20px;
}


.box {
  flex: 1;                  
  min-width: 150px;         
  height: 150px;
  color: white;
  font-size: 18px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.3);
  transition: all 0.3s ease;
}

/* Hover effect */
.box:hover {
  transform: scale(1.1);
  opacity: 0.9;
}


.box1 {
  background-color: #ff6b6b;
  position: static;        
}

.box2 {
  background-color: #4dabf7;
  position: relative;
  top: 10px;                
  left: 10px;
  border: 3px dashed #333;
}

.box3 {
  background-color: #51cf66;
  position: absolute;
  bottom: 10px;
  left: 20px;
  border: 3px solid #1b1b1b;
}

.box4 {
  background-color: #ffd43b;
  position: fixed;          
  top: 20px;
  left: 20px;
  border: 3px solid #000;
}
