.container {
  display: inline-flex;          
  gap: 20px;             
  padding: 20px; 
}


.text-box2  {
  flex: 3;                
  background-color: rgb(245, 250, 230);   
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.984);
  color: rgb(104, 238, 126);
}
  